body {
  display: grid;
  margin: 10px;
  grid-template-columns: 20% auto;
  grid-template-rows: 15% auto 15%;
  grid-template-areas: 
      "head head"
      "main main"
      "foot foot";
}
header{
  grid-area: head;
  background-color: cadetblue;
  display: flex;
  flex-direction: row;
  display: grid;
  grid-template-columns: 20% 20% auto;
  grid-template-areas: "dp info1 info2";
}

footer{
  grid-area:foot;
  
}
main{
  grid-area: main;
  background-color: rgb(146, 87, 223);
  
}
.dp{
  grid-area: dp;
}
.info1{
  grid-area: info1;
  padding-top: 30px ;
  padding-bottom: 50px ;
  
}
.info2{
  grid-area: info2;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
img {
  border-radius: 50%;
  padding: 10px;
  height: 150px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
