body {
  display: grid;
  grid-template-columns: 20% auto;
  grid-template-rows: 15% auto 15%;
  grid-template-areas: 
      "head head"
      "nav main"
      "foot foot";
}
header{
  grid-area: head;
  border:crimson 5px solid;
  background-color: cadetblue;
  display: flex;
  flex-direction: row;

}
nav{
  grid-area:nav;
  border:rgb(10, 0, 2) 5px solid;
  background-color:cadetblue;
}
footer{
  grid-area:foot;
  border:rgb(72, 1, 238) 5px solid;
  background-color: blueviolet;
}
main{
  grid-area: main;
  border:rgb(1, 231, 70) 5px solid;
  
  background-color: chocolate;
  
}

img {
  border-radius: 50%;
  height: 200px;
  width: 200px;
}
