body {
  margin: 0;
}


.information{
	display: flex;

  padding: 20px;
	width: 100%;
    background-color: grey;
    height: 200px;

	.information1{
    text-align: left;
	}
	
	.information2{
    display: flex;

	}

  }
  
  .about{
    display: flex;
  }

/*.info div div{

  padding: 10px;
}*/
.info div {

  display: flex;
  align-items: center;
  padding: 10px;
}
